<nav class="navbar navbar-dark bg-dark px-3">
  <a class="navbar-brand" [routerLink]="auth.isLoggedIn() ? '/books' : '/login'">BookApp</a>

  <div class="d-flex flex-grow-1 align-items-center justify-content-between">
    <ul class="navbar-nav flex-row" *ngIf="auth.isLoggedIn()">
      <li class="nav-item mx-2">
        <a class="nav-link" routerLink="/books">Books</a>
      </li>
      <li class="nav-item mx-2">
        <a class="nav-link" routerLink="/quotes">Quotes</a>
      </li>
    </ul>

    <div class="d-flex align-items-center">
      <button class="btn btn-outline-light mx-2" (click)="toggleTheme()">Toggle Theme</button>

      <ng-container *ngIf="auth.isLoggedIn()">
        <span class="text-light mx-2">Hi, {{ getUsername() }}</span>
       <button *ngIf="window.localStorage.getItem('token')" (click)="logout()">Logout</button>
      </ng-container>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
